
.home-container{
    width:100%;
    padding-top: 50px;
    display: flex !important;
    justify-content:center!important;
    align-items:center!important;
    flex-direction: column;
}
 
.titleStyle{
    text-align:center;
    padding-bottom:50px;
    /* padding-left: 100px; */
}

.form{
    width:100% !important;
    display:flex!important;
    /* background-color: #f89!important; */
    align-self:center!important;
    /* padding-left:100px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} 

.loading-text{
    padding-top: 60px;
}

.error-text{
    padding-top: 60px;
}

.labelStyle{
    padding-right:100px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.inputStyle{
    height:40px;
    border-radius: 5%;
    width:250px;
    font-size: 16px;
    text-align: center;
}

.buttonStyle{
    height:40px;
    width:150px;
    background-color:#47f;
    border-radius:5%;
    color:#fff;
    font-size:16px;
    margin-left:50px;

}

.issuesContainer{
    width:100%;
    margin-top:100px;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #47f;
    border-radius: 10px;
}

.issues-title{
    color:#fff;
    font-size:22px;
    padding-top:40px;
    padding-bottom: 70px;
    text-align: center;
    flex: 1 1 100%;
}

.issueContainer{
    flex: 0 0 45%;
    margin:10px;
    margin-bottom: 50px;
    box-shadow: 5px 5px 3px #ccc;
    background-color: #fff;
}

.cell{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.field{
    width: 20%;
    padding:10px;
    color:#47f;
}

.value{
    width:70%;
    padding:10px;
}